{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wybierz interesujące Cię boisko</h1>
    <ul class="list-group">
        {% for field in fields %}
        <li class="list-group-item">
            <p>Typ boiska: {{ field.typ }}</p>
            <p>Adres: {{ field.miejscowosc}}, ul {{ field.ulica }} {{ field.numer }}</p>
            <p>Cena/h: {{ field.cenaGodzina }}zł</p>
            <a href="{{ path('reservation_field', { 'city': field.miejscowosc, 'fieldId': field.idBoiska }  ) }}" class="list-group-item">Rezerwuj</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}